.homePage{
    animation: fadeIn 1s ease-out;
}

#welcomeText{
    color: white;
}


#homeImage{
    position: absolute;
    width: 800px;
    left: 550px;
    top: 550px;
}


#cpuDiv{
    width: 500px;
    height: 250px;
    border: 5px solid white;
    background-color: rgba(36, 36, 255, 0.315);
    position: relative;
    top: 50px;
    left: 50px;
    animation: fadeIn 1s ease-out;
}

#memoryDiv{
    width: 500px;
    height: 250px;
    border: 5px solid white;
    background-color: rgba(36, 36, 255, 0.315);
    position: relative;
    top: 100px;
    left: 50px;
    animation: fadeIn 1s ease-out;
}

#gpuDiv{
    width: 500px;
    height: 250px;
    border: 5px solid white;
    background-color: rgba(36, 36, 255, 0.315);
    position: relative;
    top: -470px;
    left: 600px;
    animation: fadeIn 1s ease-out;
}

#diskDiv{
    width: 500px;
    height: 250px;
    border: 5px solid white;
    background-color: rgba(36, 36, 255, 0.315);
    position: relative;
    top: -420px;
    left: 600px;
    overflow: auto;
    animation: fadeIn 1s ease-out;
}

#diskMap{
    color: white;
    text-align: left;

}

#diskList{
    color: white;
}

#cpuText{
    font-size: 50px;
    position: relative;
    top: -100px;
    left: -5px;
    /*border: 5px solid white;*/
    
}

#memoryText{
    /*border: 5px solid white;*/
    font-size: 50px;
    position: relative;
    top: -100px;
    left: -5px;
    
}

#gpuText{
    
    /*border: 5px solid white;*/
    font-size: 50px;
    position: relative;
    top: -100px;
    left: -5px;
}

#diskText{
    animation: fadeIn 1s ease-out;
    font-size: 50px;
}

#diskTextDiv{
    animation: fadeIn 1s ease-out;
    
    /*border: 5px solid white;*/
    font-size: 30px;
    position: absolute;
    top: 335px;
    left: 790px;
}

#cpuManText{
    font-size: 25px;
    
    position: relative;
    top: -130px;
    left: 5px;
    text-align: left;

}

#cpuBrandText{
    font-size: 25px;
    
    position: relative;
    top: -140px;
    left: 5px;
    text-align: left;

}

#cpuSpeedText{
    font-size: 25px;
    
    position: relative;
    top: -150px;
    left: 5px;
    text-align: left;

}

#cpuCoreText{
    font-size: 25px;
    
    position: relative;
    top: -160px;
    left: 5px;
    text-align: left;

}

#cpuPhysCoreText{
    font-size: 25px;
    
    position: relative;
    top: -170px;
    left: 5px;
    text-align: left;

}

#cpuCurrentText{
    font-size: 25px;
    
    position: relative;
    top: -180px;
    left: 5px;
    text-align: left;
    

}



#memoryTotalText{
    font-size: 50px;
    
    position: relative;
    top: -125px;
    left: 5px;
    text-align: left;

}

#memoryFreeText{
    font-size: 50px;
    position: relative;
    top: -150px;
    left: 5px;
    text-align: left;

}

#memoryUsedText{
    font-size: 50px;
    position: relative;
    top: -170px;
    left: 5px;
    text-align: left;

}

#gpuManText{
    font-size: 30px;
    position: relative;
    top: -130px;
    left: 5px;
    text-align: left;

}

#gpuModelText{
    font-size: 30px;
    position: relative;
    top: -140px;
    left: 5px;
    text-align: left;

}

#gpuTempText{
    font-size: 30px;
    position: relative;
    top: -150px;
    left: 5px;
    text-align: left;

}

#gpuCoreText{
    font-size: 30px;
    position: relative;
    top: -160px;
    left: 5px;
    text-align: left;

}

#gpuMemoryText{
    font-size: 30px;
    position: relative;
    top: -170px;
    left: 5px;
    text-align: left;

}

#disk0TypeText{
    font-size: 30px;
    position: relative;
    top: -15px;
    left: 5px;
    text-align: left;

}

#disk0SizeText{
    font-size: 30px;
    position: relative;
    top: -25px;
    left: 5px;
    text-align: left;

}

#disk0FreeText{
    font-size: 30px;
    position: relative;
    top: -35px;
    left: 5px;
    text-align: left;

}

#disk0UsedText{
    font-size: 30px;
    position: relative;
    top: -45px;
    left: 5px;
    text-align: left;

}

#disk1TypeText{
    font-size: 30px;
    position: relative;
    top: -15px;
    left: 5px;
    text-align: left;

}

#disk1SizeText{
    font-size: 30px;
    position: relative;
    top: -25px;
    left: 5px;
    text-align: left;

}

#disk1FreeText{
    font-size: 30px;
    position: relative;
    top: -35px;
    left: 5px;
    text-align: left;

}

#disk1UsedText{
    font-size: 30px;
    position: relative;
    top: -45px;
    left: 5px;
    text-align: left;

}

#disk2TypeText{
    font-size: 30px;
    position: relative;
    top: -15px;
    left: 5px;
    text-align: left;

}

#disk2SizeText{
    font-size: 30px;
    position: relative;
    top: -25px;
    left: 5px;
    text-align: left;

}

#disk2FreeText{
    font-size: 30px;
    position: relative;
    top: -35px;
    left: 5px;
    text-align: left;

}

#disk2UsedText{
    font-size: 30px;
    position: relative;
    top: -45px;
    left: 5px;
    text-align: left;

}

#disk3TypeText{
    font-size: 30px;
    position: relative;
    top: -15px;
    left: 5px;
    text-align: left;

}

#disk3SizeText{
    font-size: 30px;
    position: relative;
    top: -25px;
    left: 5px;
    text-align: left;

}

#disk3FreeText{
    font-size: 30px;
    position: relative;
    top: -35px;
    left: 5px;
    text-align: left;

}

#disk3UsedText{
    font-size: 30px;
    position: relative;
    top: -45px;
    left: 5px;
    text-align: left;

}

#diskLine{
    
    width: 300px;
}



#refreshBtn{
    position:absolute;
    left: 50px;
    top: 750px;

    outline: none;
    padding: 10px 26px;
    
    border: none;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    
    color: white;
    
    
    font-size: 45px;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    animation: fadeIn 1s ease-out;
}

#refreshBtn:hover{
    border: none;
    background-color: rgba(13, 255, 45, 0.171);
    
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    
    
    text-decoration: none;
}

#processDiv{
    position: absolute;
    left: 1450px;
    top: 50px;
    animation: fadeIn 1s ease-out;
    

}

#processesText{
    font-size: 50px;
    
    
    
    
}

#refreshDiv{
    position: absolute;
    top: 700px;
    left: 550px;
    animation: fadeIn 1s ease-out;

}

#dropDownText{
    outline: none;
    color: white;
    
    
    
    font-size: 35px;
    
}

#dropDownOptions{
    outline: none;
    
    font-size: 35px;
    
}


body {background-color: #282c34;}

@keyframes fadeIn{
    0% {
        opacity: 0;
        transform: translateY(5%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}