.homePage{
    animation: fadeIn 1s ease-out;
}

#welcomeText{
    color: white;
}


#homeImage{
    position: absolute;
    width: 800px;
    left: 550px;
    top: 550px;
}

#cpuDiv{
    width: 500px;
    height: 250px;
    border: 5px solid white;
    background-color: rgba(36, 36, 255, 0.315);
    position: relative;
    top: 50px;
    left: 50px;
    animation: fadeIn 1s ease-out;
}

#memoryDiv{
    width: 500px;
    height: 250px;
    border: 5px solid white;
    background-color: rgba(36, 36, 255, 0.315);
    position: relative;
    top: 100px;
    left: 50px;
    animation: fadeIn 1s ease-out;
}

#gpuDiv{
    width: 500px;
    height: 250px;
    border: 5px solid white;
    background-color: rgba(36, 36, 255, 0.315);
    position: relative;
    top: -470px;
    left: 600px;
    animation: fadeIn 1s ease-out;
}

#diskDiv{
    width: 400px;
    height: 250px;
    border: 5px solid white;
    background-color: rgba(36, 36, 255, 0.315);
    position: relative;
    top: -420px;
    left: 600px;
    animation: fadeIn 1s ease-out;
}

#cpuText{
    font-size: 50px;
    position: relative;
    top: -39px;
    left: -5px;
    border: 5px solid white;
    width: 250px;
}

#memoryText{
    border: 5px solid white;
    font-size: 50px;
    position: relative;
    top: -39px;
    left: -5px;
    width: 250px;
}

#gpuText{
    width: 250px;
    border: 5px solid white;
    font-size: 50px;
    position: relative;
    top: -39px;
    left: -5px;
}

#diskText{
    width: 250px;
    border: 5px solid white;
    font-size: 50px;
    position: relative;
    top: -39px;
    left: -5px;
}

#cpuCurrentText{
    
    position: relative;
    top: -90px;
    left: -15px;

}

#cpuPeakText{
    position: relative;
    top: -150px;
    left: -55px;

}

#memoryCurrentText{
    
    position: relative;
    top: -90px;
    left: -15px;

}

#memoryPeakText{
    position: relative;
    top: -150px;
    left: -55px;

}

#gpuCurrentText{
    
    position: relative;
    top: -90px;
    left: -15px;

}

#gpuPeakText{
    position: relative;
    top: -150px;
    left: -55px;

}

#diskUsedText{
    font-size: 50px;
    
    position: relative;
    top: -80px;
    left: -65px;

}

#diskTotalText{
    font-size: 50px;
    position: relative;
    top: -130px;
    left: -40px;

}

#diskAvailText{
    font-size: 50px;
    position: relative;
    top: -180px;
    left: -55px;

}

#refreshBtn{
    position:absolute;
    left: 50px;
    top: 750px;

    outline: none;
    padding: 10px 26px;
    
    border: none;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    
    color: white;
    
    
    font-size: 45px;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    animation: fadeIn 1s ease-out;
}

#refreshBtn:hover{
    border: none;
    background-color: rgba(13, 255, 45, 0.171);
    
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    
    
    text-decoration: none;
}

#processDiv{
    position: absolute;
    left: 1450px;
    top: 50px;
    animation: fadeIn 1s ease-out;
    

}

#processesText{
    font-size: 50px;
    
    
    
    
}

#refreshDiv{
    position: absolute;
    top: 700px;
    left: 550px;
    animation: fadeIn 1s ease-out;

}

#dropDownText{
    outline: none;
    color: white;
    
    
    
    font-size: 35px;
    
}

#dropDownOptions{
    outline: none;
    
    font-size: 35px;
    
}


body {background-color: #282c34;}

@keyframes fadeIn{
    0% {
        opacity: 0;
        transform: translateY(5%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}