#userName {

    position: relative;
    left: auto;
    top: auto;

    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;

    color: white;
    outline: none;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#password {

    position: relative;
    left: auto;
    top: auto;

    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;

    color: white;
    outline: none;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#logInBtn{
    position: relative;
    padding: 10px 26px;
    top: auto;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    left: auto;
    color: white;
    
    
    font-size: 19px;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    

}

#logInBtn:hover{
    border: none;
    background-color: rgba(13, 255, 45, 0.171);
    
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    
    font-size: 19px;
    text-decoration: none;
}