#registerText{
    animation: fadeIn 1s ease-out;
}

#email {

    position: relative;
    left: auto;
    top: auto;

    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;

    color: white;
    outline: none;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    animation: fadeIn 1s ease-out;
}

#userName {

    position: relative;
    left: auto;
    top: auto;

    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;

    color: white;
    outline: none;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    animation: fadeIn 1s ease-out;
}

#password {

    position: relative;
    left: auto;
    top: auto;

    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;

    color: white;
    outline: none;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    animation: fadeIn 1s ease-out;
}

#userText{
    position: relative;
    left: -5px;
    font-size: 20px;
    color: white;
    animation: fadeIn 1s ease-out;
}

#passText{
    position: relative;
    left: -5px;
    font-size: 20px;
    color: white;
    animation: fadeIn 1s ease-out;
}




#createBtn{
    position: relative;
    padding: 10px 26px;
    top: auto;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    left: auto;
    color: white;
    
    
    font-size: 19px;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    animation: fadeIn 1s ease-out;
    

}

#createBtn:hover{
    border: none;
    background-color: rgba(13, 78, 255, 0.171);
    
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    
    font-size: 19px;
    text-decoration: none;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
        transform: translateY(5%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}